

# IntelliJ project files
.idea
*.iml
out
gen


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.env
.venv/
env/
venv/
ENV/

# pip environment files
pip-log.txt
pip-delete-this-directory.txt

# pytest
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# PyCharm
.idea/

# VS Code
.vscode/

# Streamlit
.streamlit/config.toml
.streamlit/*.json
.streamlit/*.yaml

# Jupyter Notebook
.ipynb_checkpoints/

# Environments
.envrc
.env.*

# pyenv
.python-version

# celery
celerybeat-schedule
celerybeat.pid

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.hypothesis/

# pytype
.pytype/

# System files
.DS_Store
Thumbs.db

# Temporary files
*.bak
*.swp
*.tmp
*.temp

